.container {
  display: flex;
  flex: 1;
  background-color: #ddd;
  max-height: 50px;
  padding: 5px 10px;
}

.container-logo {
  height: 30px;
  width: 200px;
}

.logo {
  width: 100%;
  height: 100%;
}
